.row
= simple_form_for @post do |f|
  %fieldset.span
    .panel-body
      =f.input :image
      =f.input :title
      =f.input :link
      =f.input :description
      .span

  =f.button :submit
.wrapper
